
   
  
<a class="btn btn-info" ui-sref="addtopic">Add a Topic</a>
<hr />
<div style="background-color:grey; padding:5%;" class="container img-rounded" >
    <div >
        <div style="font-size:2em;">
            <ul class="list-unstyled col-md-4" ng-repeat="top in controller.topics">
                <a ui-sref="subtopics({id: top.id})">
                <div class="img-rounded" style="background-color:cornflowerblue; padding:3%;">
                    <li>{{top.subject}}</li>
                    <li>{{top.description}}</li>
                    <li><a class="btn btn-info" ui-sref="edittopic({id: top.id})">Edit Topic</a></li>
                    <li><a class="btn btn-info" ui-sref="deletetopic({id: top.id})">Delete Topic</a></li>
                </div>
                </a>
            </ul>
        </div>
    </div>
</div>